csvs
__init__.py
requirements.txt
.gitignore
.vscode/launch.json
.vscode/settings.json
__pycache__/__init__.cpython-313.pyc
__pycache__/bq_handler.cpython-313.pyc
__pycache__/
screenshots/
transparentnost_scraper.log